<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>No.1 Pharmacy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6FE7BB7E1BE5F9C000CBB1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FE7BB971BE5F9C000CBB1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FE7BBA21BE5F9C000CBB1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
